In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pytimekr import pytimekr

In [2]:
df = pd.read_csv('./data/train.csv')
df.head()

,ID,timestamp,item,corporation,location,supply(kg),price(원/kg)
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0

In [3]:
df.timestamp = pd.to_datetime(df.timestamp)
df['year'] = df.timestamp.dt.year
df['month'] = df.timestamp.dt.month
df['day'] = df.timestamp.dt.day
df['dow'] = df.timestamp.dt.day_of_week

In [4]:
holiday = []
for year in range(2019, 2024):
    holiday += pytimekr.holidays(year=year)

In [5]:
is_holiday = []
for time, dow in zip(df.timestamp, df.dow):
    if time in holiday or dow == 6:
        is_holiday.append(1)
    else:
        is_holiday.append(0)
df['is_holiday'] = is_holiday

In [6]:
df.loc[(df.dow == 6) & (df['price(원/kg)'] != 0)]

,ID,timestamp,item,corporation,location,supply(kg),price(원/kg),year,month,day,dow,is_holiday
1125,TG_A_J_20220130,2022-01-30,TG,A,J,43455.0,1597.0,2022,1,30,6,1
2648,TG_A_S_20220130,2022-01-30,TG,A,S,38439.0,2341.0,2022,1,30,6,1
4171,TG_B_J_20220130,2022-01-30,TG,B,J,3294.0,2213.0,2022,1,30,6,1
5694,TG_B_S_20220130,2022-01-30,TG,B,S,80659.0,1965.0,2022,1,30,6,1
7217,TG_C_J_20220130,2022-01-30,TG,C,J,51458.4,2755.0,2022,1,30,6,1
8740,TG_C_S_20220130,2022-01-30,TG,C,S,29426.0,2769.0,2022,1,30,6,1
10263,TG_D_J_20220130,2022-01-30,TG,D,J,13505.0,1625.0,2022,1,30,6,1
11786,TG_D_S_20220130,2022-01-30,TG,D,S,5825.0,1604.0,2022,1,30,6,1
13309,TG_E_J_20220130,2022-01-30,TG,E,J,12705.0,2396.0,2022,1,30,6,1
14832,TG_E_S_20220130,2022-01-30,TG,E,S,20073.0,1875.0,2022,1,30,6,1
27016,CB_A_J_20220130,2022-01-30,CB,A,J,500.0,1000.0,2022,1,30,6,1
33108,RD_A_J_20220130,2022-01-30,RD,A,J,4260.0,555.0,2022,1,30,6,1
34631,RD_A_S_20220130,2022-01-30,RD,A,S,27960.0,371.0,2022,1,30,6,1
37677,RD_D_J_20220130,2022-01-30,RD,D,J,1080.0,420.0,2022,1,30,6,1
39200,RD_D_S_20220130,2022-01-30,RD,D,S,6440.0,507.0,2022,1,30,6,1
40723,RD_E_J_20220130,2022-01-30,RD,E,J,15080.0,425.0,2022,1,30,6,1
43769,BC_A_J_20220130,2022-01-30,BC,A,J,2328.0,1917.0,2022,1,30,6,1
49861,BC_C_J_20220130,2022-01-30,BC,C,J,40.0,2000.0,2022,1,30,6,1
52907,BC_D_J_20220130,2022-01-30,BC,D,J,1136.0,1744.0,2022,1,30,6,1
54430,BC_E_J_20220130,2022-01-30,BC,E,J,2896.0,1996.0,2022,1,30,6,1
58999,RD_F_J_20220130,2022-01-30,RD,F,J,484440.0,481.0,2022,1,30,6,1

In [8]:
df_drop0 = df.loc[df['supply(kg)'] != 0]

In [15]:
df.loc[df['price(원/kg)'] == 0].to_csv('test.csv', index=False)

In [9]:
df_drop0

,ID,timestamp,item,corporation,location,supply(kg),price(원/kg),year,month,day,dow,is_holiday
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,2019,1,3,3,0
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,2019,1,4,4,0
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,2019,1,5,5,0
6,TG_A_J_20190107,2019-01-07,TG,A,J,44995.0,1474.0,2019,1,7,0,0
7,TG_A_J_20190108,2019-01-08,TG,A,J,26975.0,1326.0,2019,1,8,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
59392,RD_F_J_20230227,2023-02-27,RD,F,J,452440.0,468.0,2023,2,27,0,0
59393,RD_F_J_20230228,2023-02-28,RD,F,J,421980.0,531.0,2023,2,28,1,0
59394,RD_F_J_20230301,2023-03-01,RD,F,J,382980.0,574.0,2023,3,1,2,1
59395,RD_F_J_20230302,2023-03-02,RD,F,J,477220.0,523.0,2023,3,2,3,0
59396,RD_F_J_20230303,2023-03-03,RD,F,J,427520.0,529.0,2023,3,3,4,0